{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
            <link rel="stylesheet" href="{% static "third/bootstrap/css/bootstrap.min.css" %}"/>
            <link rel="stylesheet" href="{% static "third/bootstrap/css/bootstrap-theme.min.css" %}"/>
            <script src="{% static "third/jquery/jquery-2.1.3.min.js" %}"></script>
            <script src="{% static "third/bootstrap/js/bootstrap.min.js" %}"></script>
            {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="row" style="margin-top: 30px">
                    <div class="col-lg-4 col-lg-offset-4">
                    {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>